@charset "utf-8";

/* common */

body {
  margin: 0;
}

h1 {
  margin: 0;
}


a {
  text-decoration: none;
  color: black;
  display: inline-block;
}

ul {
  list-style: none;
  list-style-position: inside;
  margin: 0;
  padding-left: 0;
}

h2 {
  margin: 0;
}

p {
  margin: 0;
  font-size: 8px;
}


/* header */

header {
  /* max-width: 800px; */
  text-align: center;

}

.header {
  margin: 0 auto;
  width: 60%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  /* background: pink; */
  align-items: center;
}

header ul {
  display: flex;
  gap: 16px;
}

/* main */

main {
  margin: 0 auto;
  padding: 32px 0 64px 0;
}

.mainvisual {
  width: 100%;
  height: auto;
}

main div {
  max-width: 800px;
  margin: 0 auto;
}

main h2 {
  text-align: center;
}

.About {
  width: 80%;
  margin: 64px auto;
}

.About p {
  margin-top: 16px;
}

.Works {
  width: 80%;
  margin-top: 64px;
}

.works-img {
  margin-top: 64px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}

.works-img img {
  width: calc((80% - 64px) / 3);
  flex: 1;
}

.News {
  width: 80%;
  margin-top: 64px;
}

.News ul {
  width: 90%;
  margin-top: 64px;
}

.News li {
  display: flex;
  gap: 56px;
  border-bottom: 2px solid #aaa;
  line-height: 24px;
}

.News li:first-child {
  border-top: 2px solid #aaa;
}

.Contact {
  text-align: center;
  width: 80%;
  margin-top: 64px;
}

.Contact h2 {
  margin-bottom: 56px;
}

.Contact div {
  margin: 8px auto;
  width: 80%;
}

input {
  width: 70%;
}

textarea {
  width: 70%;
}

.text-box {
  margin: 0 auto;
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.text-box p {
  width: 40px;
}

.button {
  width: 80px;
  background: black;
  color: white;
  font-size: 8px;
  padding: 8px 16px;
  margin-top: 16px;
}

/* footer */

footer {
  background: black;
  color: white;
  text-align: center;
  height: 32px;
  align-items: center;
}

small {
  font-size: 8px;
}



@media (max-width: 600px) {

  /* header */

  .header {
    flex-wrap: wrap;
    text-align: center;
  }

  .logo {
    margin: 0 auto;
    text-align: center;
  }


  /* main */

  .mainvisual {
    width: 100%;
    height: 400px;
    object-fit: cover;
  }

  .works-img {
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px
  }

  .works-img img {
    width: 90%;
    height: auto;
  }

  .text-box {
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0 auto;
  }

  input {
    width: 100%;
  }
  
  textarea {
    width: 100%;
  }


}